.paper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    min-width: 210px;
}